@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Konrad Chlewski<br />
    Łódź, University of Łódź<br />
    <abbr title="Phone">Phone Number:</abbr>
    666666666
</address>

<address>
    <strong>E-mail Contact:</strong>   <a href="mailto:kp.chlewski@gmail.com">kp.chlewski@gmail.com</a><br />
   
</address>