@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron"  style="height:530px;background-image: url('https://www.bmw.pl/content/dam/bmw/common/all-models/i-series/i8-coupe/2017/at-a-glance/bmw-i8-coupe-home-sp-xxl.jpg')";>
    <h1>Classic Garage Platform</h1>
    <p class="lead">Classig Garage jest to strona na której możesz w łatwy i przyjemny sposób dodać samochody do swojego wirtualnego garażu, szukac dla niego czesci
    lub wystawic go na sprzedaz. Każdy pojazd zarejestrowany na naszej stronie posiada rowniez historie napraw, dzieki czemu bedziesz mial wglad na stan pojazdu </p>
    <p><a href="/CarModels/Index" class="btn btn-primary btn-lg">Sprawdź samochody, które zarejestrowali uzytkownicy Classic Garage &raquo;</a></p>
</div>

